<fieldset class="formCol colDerecha">

    <figure class="preview">

        <img src="{{this.urlImagen}}" alt="{{this.descripcion}}">

    </figure>
    <label for="urlImagen">Url de la portada</label>
    <input type="text" id="urlImagen" name="urlImagen" value="{{this.urlImagen}}">
    <label for="descripcion">Descripcion</label>
    <input type="text" id="descripcion" name="descripcion" value="{{this.descripcion}}">
    <label for="precio">Precio</label>
    <input type="number" name= "precio" value="{{this.precio}}">
    <label for="stock">Stock</label>
    <input type="number" name= "stock" value="{{this.stock}}">
    <input type="submit" value="Guardar"> 

</fieldset>