{{>nav}}
<main>
    <section>
        <a href="/home">Volver</a>
            {{#if type}}
                <h1>Lista de libros</h1>
                
                <ul>
                    {{#each book_list}}
                    <li>
                        <a href="/book_detail/{{this._id}}">
                            <figure>
                                <img src="{{this.img_url}}" alt="{{this.img_alt}}">
                            </figure>
                            <figcaption>
                                Titulo:{{this.title}} 
                                    
                            </figcaption>
                            <p>Autor:{{this.author}}</p>
                            <p>Precio:{{this.price}}</p>
                        </a>
                    </li>
                    
                    {{/each}}
                </ul>
          

            {{else}}
                
                <h1>Lista de discos</h1>
                <ul>
                    {{#each disc_list}}
                    <li>
                        <a href="/disc_detail/{{this._id}}">
                            <figure>
                                <img src="{{this.img_url}}" alt="{{this.img_alt}}">
                            </figure>
                            <figcaption>
                                Titulo:{{this.title}} 
                                    
                            </figcaption>
                            <p>Autor:{{this.author}}</p>
                            <p>Precio:{{this.price}}</p>
                        </a>
                    </li>
                    
                    {{/each}}
                </ul>
            {{/if}}
    </section>
</main>

